.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  width: 100%;

  &-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1500px;
    position: relative;
  }

  &-logo {
    position: absolute;
    z-index: 1000;
    height: 60vh;
    left: -30px;
    top: -60px;
  }

  &-nav {
    display: flex;
    position: absolute ;
    right: 7vh;
   }

  .header-btn {
    margin-left: -2vh;  
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: fit-content;
    color: white;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.1);
    }
    .header-btn-img {
      display: block;
      width: 80%;
      height: auto;
    }

    .header-btn-text {
      position: absolute;
      font-size: 24px;
      text-transform: lowercase;
      color: white;
      font-family: Monocraft, sans-serif;
      pointer-events: none;
    }
  }
}

.header-mobile-toggle {
  display: none;
  width: 30px;
  height: 30px;
  background-image: url('../../assets/icons/Lines.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1001;
}

.header-mobile {
  display: none; // Hidden by default
}

// Tablet & Mobile
@media (max-width: 1024px) {
  .header-logo {
    height: 45vh;
    left: -20px;
    top: -40px;
  }
  .header-btn-text {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .header {
    height: 15vh;
  }
  .header-logo {
    height: 30vh;
    left: -15px;
    top: -30px;
  }
  .header-nav {
    display: none;
  }
  .header-mobile-toggle {
    display: block;
  }
  .header-mobile {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    padding: 20px;
    z-index: 1000;

    &-list {
      list-style: none;
      padding: 0;
      margin: 40px 0 0 0;

      li {
        margin: 20px 0;
        a {
          color: white;
          font-size: 20px;
          text-decoration: none;
          font-family: Monocraft;
        }
      }
    }
  }
}